body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;  
  align-items: center;      
  background: linear-gradient(135deg, #4b6cb7, #182848);
  font-family: Arial, sans-serif;
}

/* Heading styling */
h1 {
  text-align: center;
  color: goldenrod;
  font-size: 60px;
  margin-top: 60px;     /* space from top of page */
  margin-bottom: 30px;  /* space above card */
}

/* Card styling */
.card {
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Buttons styling */
.btn-custom {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 0.95rem;
  padding: 10px;
}

form{
  border: solid 2px white;
  width: 300px;
}



