body {
    background-color: maroon;
}

h1 {
    text-align: center;
    color: goldenrod;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

h5 {
    text-align: center;
    color: goldenrod;
}

h6 {
    text-align: center;
}

button{
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    justify-content: center ;
    display: flex;
    align-items: center;

}